<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head')%>
        <title>
            <%= title%>
        </title>
</head>

<body>
    <main>
        <%- include('./partials/header')%>
            <div>
                <aside class="w-full mt-14 px-10">
                    <article class="flex items-center justify-between">
                        <p class="text-base mb-2 font-medium">Listado de Dispositivos</p>
                        <div class="text-blue-600 text-sm flex items-center gap-1 ">
                            <a href="/formDevices" class="font-medium hover:underline">Agregar nuevo
                                dispositivo</a>
                            <%- include('./icons/go')%>

                        </div>
                    </article>
                    <hr>
                </aside>
                <section class="w-full h-full py-10 px-10">
                    <%- include('./components/tb-devices')%>
                </section>
            </div>
    </main>
</body>

</html>